<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <link rel='stylesheet' href='/css/main.css' />
    {{#if register}}
      <link rel='stylesheet' href='/css/register.css' />
    {{/if}}
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/login'>Login</a></li>
          <li><a href='/register'>Register</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>