<main>
  <h1>Brand new post...</h1>
  <form action='/post' method='POST'>
    <div class='control'>
      <label for='title'>Post Title</label>
      <input type='text' id='title' name='title' required />
    </div>
    <div class='control'>
      <label for='image'>Image url</label>
      <input type='text' id='image' name='image' required />
    </div>
    <div class='control'>
      <label for='description'></label>
      <textarea
        name='description'
        id='description'
        cols='30'
        rows='10'
      ></textarea>
    </div>
    <button type='submit'>Submit</button>
  </form>
</main>