body {
  margin: 0;
}

header {
  height: 10%;
  background-color: #b0f1ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

header a {
  padding: 0 3rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

.nav-link-wrapper {
  height: 50%;
}

h1 {
  text-align: center;
}

.post {
  width: 50%;
  margin: 1rem auto;
  text-align: center;
  background-color: #fbba8b;
}
